<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/organisation-style.css}">

    <script type="text/javascript" th:src="@{/scripts/main.js}"></script>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Organisation</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="inner-window">
    <div class="header">
        <button class="button button-startseite" onclick="openLink('/')"><span class="material-symbols-outlined">home</span>Startseite</button>
        <hr class="linetop">
    </div>
    <div class="main">
        <h4>Verwaltung</h4>
        <div class="main-buttons">
            <div class="main-left-buttons">
                <button class="button" onclick="openLink('/lagerverwaltung')">Lager-und Etikettenverwaltung</button>
                <button class="button" onclick="openLink('/myurl')">Inventur und Abschreibung</button>
                <button class="button" onclick="openLink('/mahnwesen')">Auftragsorganisation und Mahnwesen</button>
                <button class="button" onclick="openLink('/adressenverwaltung')">Arzt/Mitarbeiter-Adressenverwaltung</button>
            </div>
            <div class="main-right-buttons">
                <button class="button" onclick="openLink('/mailing')">Mailing</button>
                <button class="button" onclick="openLink('/abrechnung')">Abrechnung</button>
                <button class="button" onclick="openLink('/formular')">Formular-Editor</button>
                <button class="button" onclick="openLink('/statistik')">Statistik</button>
            </div>
        </div>
        <hr class="linebottom">
    </div>
    <div class="footer">
        <h4>Programmeinstellungen</h4>
        <div class="footer-buttons">
            <button class="button" onclick="openLink('/myurl')">Grundeinstellungen</button>
            <button class="button" onclick="alert('Hauptdatenbank gesichert!')">Hauptdatenbank sichern</button>
            <button class="button" onclick="alert('Hauptdatenbank zurück-gesichert!')">Hauptdatenbank zurück-Sichern</button>
            <button class="button" onclick="alert('Programm aktualisiert!')">Programm Update</button>
        </div>
    </div>
</div>
</body>
</html>
