<!DOCTYPE>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="heading">Organisation</title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/organisation-style.css}">
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Organisation</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="header-button">
    <button class=" button button-startseite"><a th:href="@{/}">Startseite</a></button>
    <hr class="linetop">
</div>
</div>
<div class="main">
    <h4>Verwaltung</h4>
    <div class="main-buttons">
        <div class="main-left-buttons">
            <button class="button"><a th:href="@{~/lagerverwaltung}">Lager-und Etikettenverwaltung</a></button>
            <button class="button"><a th:href="@{/myurl}">Inventur und Abschreibung</a></button>
            <button class="button"><a th:href="@{/myurl}">Auftragsorganisation und Mahnwesen</a></button>
            <button class="button"><a th:href="@{/myurl}">Arzt/Mitarbeiter-Adressenverwaltung</a></button>
        </div>
        <div class="main-right-buttons">
            <button class="button"><a th:href="@{/myurl}">Mailing</a></button>
            <button class="button"><a th:href="@{~/abrechnung}">Abrechnung</a></button>
            <button class="button"><a th:href="@{/myurl}">Formular-Editor</a></button>
            <button class="button"><a th:href="@{/myurl}">System-Code ändern</a></button>
        </div>
    </div>
    <hr class="linebottom">
</div>
<div class="footer">
    <h4>Programmeinstellungen</h4>
    <div class="footer-buttons">
        <button class="button"><a th:href="@{/myurl}">Grundeinstellungen</a></button>
        <button class="button"><a th:href="@{/myurl}">Hauptdatenbank sichern</a></button>
        <button class="button"><a th:href="@{/myurl}">Hauptdatenbank zurück-Sichern</a></button>
        <button class="button"><a th:href="@{/myurl}">Programm Update</a></button>
    </div>
</div>
</body>
</html>