<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <label></label>
    <label>L</label>
    <label>R</label>
</div>
<div>
    <label>Brillenart</label>
    <select>
        <option> </option>
    </select>
    <select>
        <option> </option>
    </select>
</div>
<div>
    <label>Sph</label>
    <input type="number" value="0.00" step="0.01"/>
    <input type="number" value="0.00" step="0.01"/>
</div>
<div>
    <label>Cyl</label>
    <input type="number" value="0.00" step="0.01"/>
    <input type="number" value="0.00" step="0.01"/>
</div>
<div>
    <label>Ach</label>
    <input type="number" value="0" step="1"/>
    <input type="number" value="0" step="1"/>
</div>
<div>
    <label>Add</label>
    <input type="number" value="0.00" step="0.01"/>
    <input type="number" value="0.00" step="0.01"/>
</div>
<div>
    <label>Pris</label>
    <input type="number" value="0.00" step="0.01"/>
    <input type="number" value="0.00" step="0.01"/>
</div>
<div>
    <label>Bas</label>
    <input type="number" value="0" step="1"/>
    <input type="number" value="0" step="1"/>
</div>
<div>
    <label>Visus</label>
    <label>0,0%</label>
    <label>0,0%</label>
    <label>0,0%</label>
</div>
<div>
    <label>PD</label>
    <input type="number" value="0.00" step="0.01"/>
    <input type="number" value="0.00" step="0.01"/>
</div>
<div>
    <label>Höhe</label>
    <input type="number" value="0.0" step="0.1"/>
    <input type="number" value="0.0" step="0.1"/>
</div>
<div>
    <label>HSA</label>
    <input type="number" value="0" step="1"/>
    <input type="number" value="0" step="1"/>
</div>
</body>
</html>