<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/auftragsdatenverwaltung-style.css}"/>
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
    <link href="../../static/css/auftragsdatenverwaltung-style.css" rel="stylesheet">
</head>
<body>
<script th:src="@{/scripts/auftragsdatenverwaltung.js}" type="text/javascript"></script>
<script th:src="@{/scripts/crud-logic.js}" type="text/javascript"></script>
<script th:src="@{/scripts/table.js}" type="text/javascript"></script>
</script>
<div class="title-bar">
    <h1 class="heading">Auftragsdatenverwaltung</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<!--<label>Auftragsdatenverwaltung</label>-->

</div>

<div class="header">
    <button class="button button-index" onclick="openLink('/')">
        <span class="material-symbols-outlined">home</span>
        Startseite
    </button>
    <button class="button button-index" onclick="history.back()">
        <span class="material-symbols-outlined">arrow_back</span>
        Zurück
    </button>
    <hr class="linetop">
</div>

<div id="mainWindow">
    <div class="data-control">
        <input
                class="button button-index"
                onclick="set_form_mode('s','exit-logic-1', 'auftragsnr')"
                type="button"
                value="Öffnen"/>
        <input class="button button-index" onclick="set_form_mode('a','exit-logic-1', 'auftragsnr')" type="button"
               value="Neu Hinzufügen"/>
    </div>

    <input id="tab-index" name="current_tab" type="hidden">
    <input id="hidden-kid" name="kid" type="hidden">
    <input id="hidden-v" name="v" type="hidden">

    <div class="head">
        <div th:replace="fragments/Auftragsdatenverwaltung/auftrag.html"/>
    </div>

    <div class="body">
        <div class="tab-buttons" id="tab-buttons">
            <input class="type-br type-cl tab-button" onclick="set_tab(1)" type="button" value="Daten"/>
            <input class="type-cl tab-button" onclick="set_tab(2);" type="button" value="Hornhaut"/>
            <input class="type-br tab-button" onclick="set_tab(4);" type="button" value="Brillenfassung"/>
            <input class="type-br type-cl tab-button" onclick="set_tab(6);" type="button" value="Refraktion"/>
            <input class="type-br tab-button"
                   onclick="set_tab(7);"
                   type="button" value="Veredelung"/>
            <input class="type-br tab-button"
                   onclick="set_tab(8);"
                   type="button" value="Zuschläge"/>
            <input class="type-br type-cl tab-button" onclick="set_tab(3)" type="button" value="Bemerkung"/>
        </div>

        <div class="tab-body">
            <div class="tab" id="tab-1">
                <div th:replace="fragments/Auftragsdatenverwaltung/lieferdaten.html"/>
            </div>
            <div class="tab" id="tab-2">
                <div th:replace="fragments/Auftragsdatenverwaltung/augendaten.html"/>
            </div>
            <div class="tab" id="tab-3">
                <div th:replace="fragments/Auftragsdatenverwaltung/Bemerkung.html"/>
            </div>
            <div class="tab" id="tab-4">
                <div th:replace="fragments/Auftragsdatenverwaltung/Brillenfassung.html"/>
            </div>
            <div class="tab" id="tab-6">
                <div th:replace="fragments/Auftragsdatenverwaltung/Refraktion.html"/>
            </div>
            <div class="tab" id="tab-7">
                <div th:replace="fragments/Auftragsdatenverwaltung/Veredelungen.html"/>
            </div>
            <div class="tab" id="tab-8">
                <div th:replace="fragments/Auftragsdatenverwaltung/Zuschlaege.html"/>
            </div>
        </div>
    </div>

    <div class="exit-logic">
        <button class="action-button button button-index" id='exit-logic-1' onclick="" type="button" value="Speichern">
        </button>
    </div>
</div>
<div class="search-table" id="search-table">

</div>
</body>
<script>
    //execute on load
    set_tab(1);
    load('exit-logic-1', 'auftragsnr');

    set_tabs_visibility(document.getElementById('selection-artikelart'));
</script>
</html>