<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="heading">Lagerverwaltung</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/lagerverwaltung-style.css}">
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Lagerverwaltung</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="header">
    <button class="button button-startseite" onclick="openLink('/organisation')"><a>Zurück</a></button>
    <hr class="linetop">
</div>

    <aside style="width:60%">
        <input class="input-rechts" type="text" placeholder="Artikelnummer"><br><br>
        <input class="input-rechts" type="text" placeholder="Faktor"><br><br>
        <input class="input-rechts" type="text" placeholder="VK">
        <button class="button button-rechts"><a>VK-Manuell</a></button><br><br>
        <input class="input-rechts" type="text" placeholder="Fassungscode"><br><br>
        <input class="input-rechts" type="text" placeholder="Datum"><br><br>
        <input class="input-rechts" type="checkbox" placeholder="Komission">
        <label>Komission</label><br>
        <button class="button"><a>Speichern</a></button>
        <button class="button"><a>Neu</a></button>
    </aside>

    <aside style="width:20%">
        <input class="input" type="text" placeholder="Modell"><br><br>
        <select class="select-mitte">
            <option>Farbe</option>
        </select><br><br>
        <select class="select-mitte">
            <option>Größe</option>
        </select><br><br>
        <select class="select-mitte">
           <option>Bügel</option>
        </select><br><br>
        <input class="input" type="text" placeholder="EK o. Mwst Rabatt"><br><br>
        <select class="select-mitte">
            <option>Bemerkung</option>
        </select><br><br>
    </aside>


    <select class="select">
      <option>Lieferanten</option>
    </select><br><br>
    <select class="select">
     <option>Verwendung</option>
    </select><br><br>
    <select class="select">
      <option>Gattung</option>
    </select><br><br>
    <select class="select">
      <option>Material</option>
    </select><br><br>
    <input class="input" type="text" placeholder="Anzahl"><br><br><br><br>

    <input class="input" type="text" placeholder="Suchen">
    <button class="button"><a>Alles anzeigen</a></button>

    <table>
        <thead>
        <tr>
            <th>ArtNr</th>
            <th>Lieferant</th>
            <th>Verwendung</th>
            <th>Gattung</th>
            <th>Material</th>
            <th>Model</th>
            <th>Farbe</th>
            <th>Größe</th>
            <th>Bügel</th>
            <th>EK</th>
            <th>Bemerkung</th>
            <th>Faktor</th>
            <th>VK</th>
            <th>Fa-Code</th>
            <th>Datum</th>
            <th>Kom</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Lieferando</td>
            <td>Tragen</td>
            <td>Brille</td>
            <td>Plastik</td>
            <td>Gucci</td>
            <td>Schwarz</td>
            <td>10</td>
            <td>B200</td>
            <td>EK</td>
            <td>Keine</td>
            <td>x3.5</td>
            <td>VK</td>
            <td>#001</td>
            <td>01.09.2022</td>
            <td>Ja</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Lieferheld</td>
            <td>Ins Regal stellen</td>
            <td>Brille</td>
            <td>Plastik</td>
            <td>Supreme</td>
            <td>Weiß</td>
            <td>10000</td>
            <td>D99</td>
            <td>EK</td>
            <td>Keine</td>
            <td>x4.20</td>
            <td>VK</td>
            <td>#0069</td>
            <td>01.09.2022</td>
            <td>Nein</td>
        </tr>
        </tbody>
    </table>
</body>
<script>
    function openLink(link) {
        window.location.href = link;
    }
</script>
</html>