<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="heading">Lagerverwaltung</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/lagerverwaltung-style.css}">
    <script type="text/javascript" th:src="@{/scripts/main.js}"></script>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Lagerverwaltung</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="header">
    <button class="button button-startseite" onclick="openLink('/organisation')"><a>Zurück</a></button>
    <hr class="linetop">
</div>

<div>
    <input class="input" id="Artikelnummer" type="text" placeholder="Artikelnummer">
    <input class="input" id="Bezeichnung" type="text" placeholder="Bezeichnung"><br><br>
</div>

<div>
<select class="select">
    <option>Artikelart</option>
</select>
<select class="select">
    <option>Material</option>
</select>
<select class="select">
    <option>Farbe</option>
</select>
<select class="select">
    <option>Lieferant</option>
</select><br><br>

<input class="input" id="Einkaufspreis" type="text" placeholder="Einkaufspreis">
<input class="input" id="Verkaufspreis" type="text" placeholder="Verkaufspreis"><br><br>
</div>

<div>
    <input class="input" type="text" placeholder="Suchen">
    <button class="button" type="submit" onclick="TabelleAnzeigen()">Alles anzeigen</button>

    <button class="button" style="margin-left: 20px">Speichern</button>
    <button class="button" onclick="insertLagerartikel()">Neu</button>
</div>

<div class="table">
</div>

</body>
<script>
    function openLink(link) {
        window.location.href = link;
    }

    function TabelleAnzeigen() {
    doGetRequest(
            '/api/artikels',
            undefined,
            (data) => {   // func
                createTable(data);
            });
    }

    function ArtikelartFuellen() {
    doGetRequest(
            '/api/artikelarts',
            undefined;
            });
    }

    function MaterialFuellen() {
    doGetRequest(
            '/api/materials',
            undefined;
            });
    }

    function FarbeFuellen() {
    doGetRequest(
            '/api/farbes',
            undefined;
            });
    }

    function LieferantFuellen() {
    doGetRequest(
            '/api/lieferants',
            undefined;
            });
    }

    function createTable(data) {
        if (document.getElementsByClassName('table')[0].firstElementChild !== null) {
            debugger;
            const entries = document.getElementsByTagName('TD');

            for (let i = 0; i <= entries.length; i++) {
                const values = Object.values(data);

                entries[i].innerHTML = values[i];
            }
        } else {
            let tableContainer = document.getElementsByClassName('table')[0];
            let table = document.createElement('TABLE');
            let tableHead = document.createElement('THEAD');
            let tableBody = document.createElement('TBODY');

            table.appendChild(tableHead);
            table.appendChild(tableBody);

            let row1 = document.createElement('TR');
            let row2 = document.createElement('TR');

            const keys = Object.keys(data);
            const values = Object.values(data);

            keys
                .map((item) => {
                    let th = document.createElement('TH');
                    let caps = item.charAt(0).toUpperCase() + item.slice(1);
                    th.innerHTML = caps.valueOf();
                    row1.appendChild(th);
                });

            values
                .map((item) => {
                    let td = document.createElement('TD');
                    td.innerHTML = item.valueOf();
                    row2.appendChild(td);
                });

            tableHead.appendChild(row1);
            tableBody.appendChild(row2)

            tableContainer.appendChild(table);
        }
    }

    function insertLagerartikel() {
        console.log("Hole Daten...")
        debugger
        const Artikelnummer = document.getElementById("Artikelnummer").value
        const Bezeichnung = document.getElementById("Bezeichnung").value
        const Einkaufspreis = document.getElementById("Einkaufspreis").value
        const Verkaufspreis = document.getElementById("Verkaufspreis").value
        const Artikelart = document.getElementById("Verkaufspreis").value
        const Material = document.getElementById("Material").value
        const Farbe = document.getElementById("Farbe").value
        const Lieferant = document.getElementById("Lieferant").value


        //Json zusammenbauen
        let jsonObject = {
            "artikelNr": Artikelnummer,
            "bezeichnung": Bezeichnung,
            "artikelart": Artikelart,
            "einkaufspreis": Einkaufspreis,
            "verkaufspreis": Verkaufspreis,
            "material": Material,
            "farbe": Farbe,
            "lieferant": Lieferant
        }

        console.log("Jason", jsonObject)

        doPostRequest('/api/artikels',  jsonObject, (response) => {
            console.log("Hier bin ich", response)
        })
        return jsonObject
    }
</script>
</html>