<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" th:href="@{/css/kunde-style.css}"/>
	<script th:src="@{/scripts/main.js}" type="text/javascript"></script>
	<script th:src="@{/scripts/table.js}" type="text/javascript"></script>
</head>
<body>
<div class="title-bar">
	<h1 class="heading">Auftrag</h1>
</div>

<div class="vertical-bar">
	<p></p>
</div>

<div class="customerButton-searchField">
	<div class="customers">
		<button class="button customer-button" onclick="openLink('/kunde')"><span class="material-symbols-outlined">person</span>Kunde</button>
	</div>

	<div class="search-fields">
		<input class="input" id="auftragsNr" placeholder="Auftrags-Nr." required type="text"><br>
		<button class="button submit-button" onclick="searchOrder()" type="submit"><span class="material-symbols-outlined">search</span>Suchen</button>
	</div>
</div>

<div class="table-container"></div>

<div class="direction-buttons">
	<button class="button direction-button" onclick="openLink('./')"><span class="material-symbols-outlined">home</span>Startseite</button>
	<button class="button direction-button" onclick="openLink('/auftragsdatenverwaltung?v=a')"><span class="material-symbols-outlined">add</span>Neuer Auftrag</button>
	<button class="button direction-button" onclick="openLink('/organisation')"><span class="material-symbols-outlined">settings</span>Organisation</button>
	<button class="button direction-button" onclick="openLink('/führerscheinsehtest')"><span class="material-symbols-outlined">clinical_notes</span>Führerschein-Sehtest</button>
	<button class="button direction-button" onclick="openLink('/mitarbeiter')"><span class="material-symbols-outlined">groups</span>Mitarbeiter</button>
</div>

</body>
<script>
	document.getElementById('auftragsNr').addEventListener('keyup', (e) => {
		if (e.key === 'Enter') {
			searchOrder();
		}
	});

	function searchOrder() {
		let auftragsNr = document.getElementById('auftragsNr').value;

		if (auftragsNr === '') {
			document.getElementById('auftragsNr').style.border = '3px solid red';

			return;
		} else {
			document.getElementById('auftragsNr').style.border = '1px solid black';
		}

		doGetRequest(
			'/api/auftrags/',
			auftragsNr,
			(data) => {   // func
				createTable(data, auftragsNr, undefined);
				//(data2) => window.location.href = `/auftragsdatenverwaltung?v=a&kid=${data2.kundenNr}`;
			});
	}
</script>
</html>