<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/startseite-style.css}"/>
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Brillen-Kunde</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="customerButton-searchField">
    <div class="customers">
        <button class="button customer-button" onclick="openLink('/cl-kunde')" type="button">CL-Kunde</button>
        <br>
        <button class="button customer-button" onclick="openLink('/vs-kunde')">VS-Kunde</button>
        <br>
    </div>

    <div class="search-fields">
        <form action="#" method="post" th:action="@{/search}" th:object="${search}">
            <input class="input" placeholder="Name" type="text"/><br>
            <input class="input" placeholder="Vorname" type="text"/><br>
            <input class="input" placeholder="Auftrags-Nr." type="text"/><br>
            <button class="button submit-button" type="submit">Suchen</button>
        </form>
    </div>
</div>

<div class="table-container">
    <table class="kunde">
        <tr>
            <th>Kunden-Nr.</th>
            <th>Anrede</th>
            <th>Name</th>
            <th>Vorname</th>
            <th>Straße</th>
            <th>HausNr.</th>
            <th>PLZ</th>
            <th>Geburtsdatum</th>
            <th>TelefonNr.</th>
            <th>Handy</th>
            <th>E-Mail</th>
            <th>KrankenkassenNr.</th>
            <th>VersicherungsNr.</th>
            <th>Gültigkeit</th>
            <th>Bemerkung</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Herr</td>
            <td>Max</td>
            <td>Mustermann</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table class="auftrag">
        <tr>
            <th>Kunden-Nr.</th>
            <th>Auftrags-Nr.</th>
            <th>Abrechnungsart</th>
            <th>Rezept vorhanden</th>
            <th>Womit</th>
            <th>Wann</th>
            <th>Fertig</th>
            <th>Abgeholt</th>
            <th>Bezahlt</th>
            <th>Auftragsbestätigung</th>
            <th>Rechnung</th>
            <th>1. Mahnung</th>
            <th>2. Mahnung</th>
            <th>3. Mahnung</th>
            <th>Datum</th>
            <th>Werkstatt</th>
            <th>Berater</th>
            <th>Refraktion</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="direction-buttons">
    <button class="button direction-button" onclick="openLink('./')">Startseite</button>
    <button class="button direction-button" onclick="openLink('/neuer-kunde')">Neuer Kunde</button>
    <button class="button direction-button" onclick="openLink('/organisation')">Organisation</button>
    <button class="button direction-button" onclick="openLink('/führerscheinsehtest')">Führerschein-Sehtest</button>
</div>

</body>
</html>