<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"></link>
    <link rel="stylesheet" th:href="@{/css/startseite-style.css}"></link>
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
    <script th:src="@{/scripts/table.js}" type="text/javascript"></script>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Kunde</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="customerButton-searchField">
    <div class="customers">
        <button class="button customer-button" onclick="openLink('/auftrag')" type="button">Auftrag</button>
    </div>

    <div class="search-fields">
        <input class="input" id="lastname" placeholder="Name" type="text"></input><br>
        <input class="input" id="name" placeholder="Vorname" type="text"></input><br>
        <button class="button submit-button" onclick="searchCustomer()">Suchen</button>
    </div>
</div>

<div class="table-container" id="customerTable"></div>

<div class="direction-buttons">
    <button class="button direction-button" onclick="openLink('./')">Startseite</button>
    <button class="button direction-button" onclick="openLink('/neuer-kunde')">Neuer Kunde</button>
    <button class="button direction-button" onclick="openLink('/organisation')">Organisation</button>
    <button class="button direction-button" onclick="openLink('/führerscheinsehtest')">Führerschein-Sehtest</button>
</div>

</body>
<script>
    document.getElementById('lastname').addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
            searchCustomer();
        }
    });

    document.getElementById('name').addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
            searchCustomer();
        }
    });

    function searchCustomer() {
        let name = document.getElementById('name').value;
        let lastname = document.getElementById('lastname').value;
        let tableContainer = 'customerTable';

        switch (true) {
            case (lastname === '' && name === ''):
                lastname = '*';
                name = '*';
                break;
            case (lastname === '' && name !== ''):
                lastname = '*';
                break;
            case (lastname !== '' && name === ''):
                name = '*';
                break;
        }

        let key = `?name=${lastname}&vorname=${name}`;

        doGetRequest(
            '/api/kundes',
            key,
            (data) => {   // func
                createTable(data, tableContainer, undefined);
            });
    }
</script>
</html>