<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/startseite-style.css}"/>
</head>
<body>
<h1 class="heading">VS-Kunde</h1>

<div class="table">
    <div class="customers">
        <button class="button customer-button"><a th:href="@{/brillen-kunde}" class="link">Brillen-Kunde</a></button>
        <br>
        <button class="button customer-button"><a th:href="@{/cl-kunde}" class="link">CL-Kunde</a></button>
        <br>
    </div>

    <div class="search-fields">
        <input class="input" type="text" placeholder="Name"><br>
        <input class="input" type="text" placeholder="Vorname"><br>
        <input class="input" type="text" placeholder="Auftrags-Nr."><br>
        <button class="button submit-button" type="submit">Suchen</button>
    </div>
</div>

<div class="direction-buttons">
    <button class="button direction-button"><a >Neuer Kunde</a></button>
    <button class="button direction-button"><a th:href="@{/organisation}" class="link">Organisation</a></button>
    <button class="button direction-button"><a >Führerschein-Sehtest</a></button>
</div>

</body>
</html>