<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/startseite-style.css}"/>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">VS-Kunde</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="table">
    <div class="customers">
        <button class="button customer-button" onclick="openLink('/brillen-kunde')">Brillen-Kunde</button>
        <br>
        <button class="button customer-button" onclick="openLink('/cl-kunde')">CL-Kunde</button>
        <br>
    </div>

    <div class="search-fields">
        <input class="input" type="text" placeholder="Name"><br>
        <input class="input" type="text" placeholder="Vorname"><br>
        <input class="input" type="text" placeholder="Auftrags-Nr."><br>
        <button class="button submit-button" type="submit">Suchen</button>
    </div>
</div>

<div class="direction-buttons">
    <button class="button direction-button" onclick="openLink('/neuer-kunde')">Neuer Kunde</button>
    <button class="button direction-button" onclick="openLink('/organisation')">Organisation</button>
    <button class="button direction-button" onclick="openLink('/führerscheinsehtest')">Führerschein-Sehtest</button>
</div>

</body>
<script>
    function openLink(link) {
        window.location.href = link;
    }
</script>
</html>