<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeiter</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"></link>
    <link rel="stylesheet" th:href="@{/css/mitarbeiter-style.css}"></link>
</head>
<script th:src="@{/scripts/crud-logic.js}" type="text/javascript"></script>
<script th:src="@{/scripts/mitarbeiter-crud.js}" type="text/javascript"></script>
<script th:src="@{/scripts/main.js}" type="text/javascript"></script>
<body>
<div class="title-bar">
    <h1 class="heading">Mitarbeiter</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>
<div class="data-control">
    <input onclick="set_form_mode('s','crud1', 'mitarbeiternr')" type="button" value="Öffnen" class="button"/>
    <input onclick="set_form_mode('a','crud1', 'mitarbeiternr')" type="button" value="Neu Hinzufügen" class="button"/>
</div>
<br><br>
<div class="body">
    <div class="block">
        <label> Mitarbeiter-Nr: <input class="lockable lock-mode-a lock-mode-u input" id="mitarbeiternr" type="number"></label>
        <br>
        <label> Name: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="name" type="text"></label>
        <br>
        <label> Vorname: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="vorname" type="text"></label>
        <br>
        <label> Geburtstag: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="geburtsdatum" type="date"></label>
    </div>
    <div class="block">
        <label> Straße: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="strasse" type="text"></label>
        <br>
        <label> Hausnummer: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="hausNr" type="number"></label>
        <br>
        <label> Postleitzahl: <input class="data data-clear data-u data-a lockable lock-mode-s input input2" id="plz" type="number">
        <button class="lockable lock-mode-s button button2" onclick="checkplz()">Überprüfen</button></label>
        <label> Ort: <input disabled class="data data-clear input" id="ort" type="text"></label>
    </div>
    <div class="block">
        <label> Telefonnummer: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="telefonNr" type="text"></label>
        <br>
        <label> Handy: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="handy" type="text"></label>
        <br>
        <label> Email: <input class="data data-clear data-u data-a lockable lock-mode-s input" id="email" type="text"></label>
        <br>
    </div>
</div>
<br>
<input id="crud1" type="button" class="button">
<input onclick="history.back()" type="button" value="Zurück" class="button">
</body>
<script>
    load('crud1', 'mitarbeiternr');

    function checkplz() {
        let plz = document.getElementById('plz').value;
        doGetRequest('/api/stadts/', plz, (data) => {
            document.getElementById('ort').value = data['ort'];
        });
    }
</script>
</html>