<!DOCTYPE html>
<html lang="de">
<body>
<th:block th:fragment="auftrag">

    <div class="left">
        <label>
            Auftragsnummer
            <input class="date lockable lock-mode-a lock-mode-u select2" id="auftragsnr" name="auftragsnr"
                   placeholder="Auftrags-Nr."
                   type="text"/>
        </label>
        <label>
            Abrechnungsart
            <select class="data data-auftrag select2" name="abrechungsart" id="abrechnungs">
                <option class="hideable hide-mode-u hide-mode-a" value="-1">-/-</option>
            </select>
        </label>
        <label>
            Artikelart
            <select class="lockable lock-mode-u select2" id="selection-artikelart" onclick="set_tabs_visibility(this);">
                <option>Brille</option>
                <option>Kontaktlinse</option>
            </select>
        </label>
        <label>
            Kunde
            <select class="data data-auftrag select2" name="kunde" id="kundenNr">
                <option class="hideable hide-mode-a hide-mode-u" value="-1">-/-</option>
            </select>
        </label>
    </div>
</th:block>
</body>
</html>
