<!DOCTYPE html>
<html lang="de">
<body>
<th:block th:fragment="augendaten">
    <h3> Hornhaut</h3>
    <div>
       <table class="table">
           <tr>
               <td> &nbsp;</td>
               <th colspan="4">R</th>
               <th colspan="4">L</th>
           </tr>
           <tr>
               <th scope="row">&nbsp;</th>
               <td>HS I</td>
               <td>A 0</td>
               <td>HS II</td>
               <td scope="line">A 90</td>
               <td>HS I</td>
               <td>A 0</td>
               <td>HS II</td>
               <td>A 90</td>
           </tr>
           <tr>
               <th scope="row">zentral</th>
               <td><input type="text" name="HS1r" class="input"/></td>
               <td><input type="text" name="A0r" class="input"/></td>
               <td><input type="text" name="HS2r" class="input"/></td>
               <td scope="line"><input type="text" name="A90r" class="input"/></td>
               <td><input type="text" name="HS1l" class="input"/></td>
               <td><input type="text" name="A0l" class="input"/></td>
               <td><input type="text" name="HS2l" class="input"/></td>
               <td><input type="text" name="A90l" class="input"/></td>
           </tr>
           <tr>
               <th scope="row">&nbsp;</th>
               <td>nasal</td>
               <td>temp.</td>
               <td>sup.</td>
               <td scope="line">inf.</td>
               <td>nasal</td>
               <td>temp.</td>
               <td>sup.</td>
               <td>inf.</td>
           </tr>
           <tr>
               <th scope="row">Sag/TTV</th>
               <td><input type="text" name="nsr" class="input"/></td>
               <td><input type="text" name="tsr" class="input"/></td>
               <td><input type="text" name="hsr" class="input"/></td>
               <td scope="line"><input type="text" name="isr" class="input"/></td>
               <td><input type="text" name="nsl" class="input"/></td>
               <td><input type="text" name="tsl" class="input"/></td>
               <td><input type="text" name="hsl" class="input"/></td>
               <td><input type="text" name="isl" class="input"/></td>
           </tr>
           <tr>
               <th scope="row">Epsilon</th>
               <td><input type="text" name="ner" class="input" disabled/></td>
               <td><input type="text" name="ter" class="input" disabled/></td>
               <td><input type="text" name="her" class="input" disabled/></td>
               <td scope="line"><input type="text" name="ier" class="input" disabled/></td>
               <td><input type="text" name="nel" class="input" disabled/></td>
               <td><input type="text" name="tel" class="input" disabled/></td>
               <td><input type="text" name="hel" class="input" disabled/></td>
               <td><input type="text" name="iel" class="input" disabled/></td>
           </tr>
           <tr>
               <th scope="row">Mittelwert</th>
               <td colspan="4" scope="line"><input type="text" name="mr" class="input" disabled/></td>
               <td colspan="4"><input type="text" name="ml" class="input" disabled/></td>
           </tr>
       </table>
    </div>
</th:block>
</body>
</html>