<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brillenglas</title>
</head>
<body>
<h3> Brillenglas </h3><br>
<div class="main">
    <div class="rl"><br><br><br>R<br><br><br><br> L</div>
    <div class="block two">
        <label class="label">Hersteller</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block two">
        <label class="label">EDV_Nr</label><br>
         <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block two">
        <label class="label">Glasart</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block two">
        <label class="label">Material</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block two">
        <label class="label">Glasname</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
</div>
</body>
</html>