<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brillenfassung</title>
</head>
<body>
<h3>Brillenfassung</h3><br>
<div class="main">
    <div class="block one">
    <label class="label">Artikelnummer</label>
        <select class="select">
            <option>nummer 1</option>
        </select>
        <br>
        <label class="label">Lieferant</label>
        <select class="select">
            <option>nummer 1</option>
        </select>
    <br>
        <label class="label">Modell</label>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <br>
    <div class="block one">
        <label class="label">Farbe</label>
        <select class="select">
            <option>nummer 1</option>
        </select>
    <br>
        <label class="label">Größe</label>
        <select class="select">
            <option>nummer 1</option>
        </select>
    <br>
        <label class="label">Material</label>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <br>
</div>
</body>
</html>