<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brillenfassung</title>
</head>
<body>
<h3>Brillenfassung</h3><br>
<div class="main">
    <div class="block one">
        <br>
    <br>
        <label class="label">Modell</label>
        <input type="text" class="input">
        <label class="label">Größe</label>
        <input type="text" class="input">
    </div>
    <br>
    <div class="block one">
        <label class="label">Farbe</label>
        <select class="select" id="select-farbe">
        </select>
    <br>
        <label class="label">Material</label>
        <select class="select" id="select-material">
        </select>
    <br>
        <label class="label">Lieferant</label>
        <select class="select" id="select-lieferant">
        </select>
    </div>
    <br>
</div>
</body>
</html>