<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Brillenfassung">
    <div class="block one">
    <label>Artikelnummer</label>
        <select>
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block two">
        <label>Lieferrant</label>
        <select>
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block three">
        <label>Model</label>
        <select>
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block four">
        <label>Farbe</label>
        <select>
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block five">
        <label>Größe</label>
        <select>
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block six">
        <label>Material</label>
        <select>
            <option>nummer 1</option>
        </select>
    </div>
</div>
</body>
</html>