<!DOCTYPE html>
<html lang="de">
<body>
<th:block th:fragment="kunden">
    <h3> Daten</h3><br>
    <div class="main">
        <div class="block five">
            <label class="label2">
                Rezept vorhanden
                <input class="data data-auftrag lockable lock-mode-s" id="rezepturvorhanden" type="checkbox"/>
            </label>

            <label class="label2">
                Brillenglas bestellt
                <input class="data data-auftrag lockable lock-mode-s" id="bestellt" type="checkbox"/>
            </label>

            <label class="label2">
                Fertig
                <input class="data data-auftrag lockable lock-mode-s" id="fertig" type="checkbox"/>
            </label>

            <label class="label2">
                Abgeholt
                <input class="data data-auftrag lockable lock-mode-s" id="abgeholt" type="checkbox"/>
            </label>

            <label class="label2">
                Bezahlt
                <input class="data data-auftrag lockable lock-mode-s" id="bezahlt" type="checkbox"/>
            </label>
        </div>

        <div class="block five">
            <label class="label"> Berater
                <select class="data data-auftrag select" name="berater" id="berater">
                    <option class="hideable hide-mode-u hide-mode-a" value="-1" selected>-/-</option>
                </select>
            </label>

            <label class="label"> Werkstatt
                <select class="data data-auftrag select" name="werkstatt" id="werkstatt">
                    <option class="hideable hide-mode-u hide-mode-a" value="-1" selected>-/-</option>
                </select>
            </label>

            <div class="extra-logic-cl">
                <label class="label3">
                    <input type="checkbox" class= "data-auftrag lockable lock-mode-s" id="rueckgabe" onclick="
                    if (!this.checked)
                        document.getElementById('cl-old-ref').setAttribute('disabled','');
                    else
                        document.getElementById('cl-old-ref').removeAttribute('disabled');">
                    Rückgabe
                </label>
                <label class="label3">
                    <br>ID
                    <input type="number" id="cl-old-ref" disabled>
                </label>
            </div>
        </div>


    </div>
</th:block>
</body>
</html>