<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veredelungen</title>
</head>
<body>
<h3>Veredelungen</h3><br>
<div class="main">
    <div class="rl"><br><br><br>R <br><br><br><br> L</div>
    <div class="block three">
        <label class="label">ET</label><br>
        <select class="select">
            <option> </option>
        </select><br>
        <select class="select">
            <option> </option>
        </select>
    </div>
    <div class="block three">
        <label class="label">Preis</label><br>
        <input class="input data" id="etpreisr" type="text"><br>
        <input class="input data" id="etpreisl" type="text">
    </div>
    <div class="block three">
        <label class="label">Hartschicht</label><br>
        <select class="select">
            <option> </option>
        </select><br>
        <select class="select">
            <option> </option>
        </select>
    </div>
    <div class="block three">
        <label class="label">Preis</label><br>
        <input class="input data" id="hspreisr" type="text"><br>
        <input class="input data" id="hspreisl" type="text">
    </div>
    <div class="block three">
        <label class="label">Zusatz</label><br>
        <select class="select">
            <option> </option>
        </select><br>
        <select class="select">
            <option> </option>
        </select>
    </div>
    <div class="block three">
        <label class="label">Preis</label><br>
        <input class="input data" id="zspreisr" type="text"><br>
        <input class="input data" id="zspreisl" type="text">
    </div>
</div>
</body>
</html>