<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zuschlaege</title>
</head>
<body>
<h3>Zuschläge</h3><br>
<div class="main">
    <div class="rl"><br><br><br>R <br><br><br><br> L</div>
    <div class="block three">
        <label class="label">Tönung</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block three">
        <label class="label">Preis</label><br>
        <input class="input data" id="tpreisr" type="text"><br>
        <input class="input data" id="tpreisl" type="text">
    </div>
    <div class="block three">
        <label class="label">Zuschläge</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block three">
        <label class="label">Preis</label><br>
        <input class="input data" id="zspreisr1" type="text"><br>
        <input class="input data" id="zspreisl1" type="text">
    </div>
    <div class="block three">
        <label class="label">Zuschläge</label><br>
        <select class="select">
            <option>nummer 1</option>
        </select><br>
        <select class="select">
            <option>nummer 1</option>
        </select>
    </div>
    <div class="block three">
        <label class="label">Preis</label><br>
        <input class="input data" id="zspreisr2" type="text"><br>
        <input class="input data" id="zspreisl2" type="text">
    </div>
</div>
</body>
</html>