<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/auftragsorganisation-style.css}">
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Aufträge zu Kunden</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>
</body>
</html>