<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<body>
<th:block th:fragment="aerzte">
    <h3> Ärzte</h3>
    <div class="customerButton-searchField">
        <div class="search-fields">
            <input class="input" id="lastname" placeholder="Name" type="text"></input><br>
            <input class="input" id="name" placeholder="Vorname" type="text"></input><br>
            <button class="button submit-button" onclick="searchArzt()">Suchen</button>
        </div>
    </div>

    <div class="table-container" id="arztTable"></div>
</th:block>
</body>
<script>
    function searchArzt() {
        let name = document.getElementById('name').value;
        let lastname = document.getElementById('lastname').value;
        let tableContainer = 'arztTable';

        switch (true) {
            case (lastname === '' && name === ''):
                lastname = '*';
                name = '*';
                break;
            case (lastname === '' && name !== ''):
                lastname = '*';
                break;
            case (lastname !== '' && name === ''):
                name = '*';
                break;
        }

        let key = `?name=${lastname}&vorname=${name}`;

        doGetRequest(
            '/api/arzts',
            key,
            (data) => {   // func
                createTable(data, tableContainer, (data2) => {
                    set_tab(4);
                });
            });
    }

</script>
</th:block>
</body>
</html>