<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/statistik-style.css}"/>
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
</head>

<body>
<div class="title-bar">
    <h1 class="heading">Statistik</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="header-button">
    <button class=" button button-startseite" onclick="openLink('/')">Startseite</button>
    <button class=" button button-startseite" onclick="Laden()">Laden</button>
    <hr class="linetop">
</div>

<div class = "statistik">
    <div>
        <h4 class = "Zwischentitel">Kunden-Statistik</h4>
    </div>
</div>

<div class = "statistik">
    <div>
        <h4 id = AnzKund>Anzahl Kunden:</h4>
    </div>
    <div>
        <h4 id = Alter>Durchschnittsalter:</h4>
    </div>
</div> 

<div class = "statistik">
    <div>
        <h4 id = AnzKund20>Anzahl Kunden (0-20 Jahren):</h4>
    </div>
    <div>
        <h4 id = AnzKund40>Anzahl Kunden (21-40 Jahren):</h4>
    </div>
    <div>
        <h4 id = AnzKund60>Anzahl Kunden (41-60 Jahren):</h4>
    </div>
    <div>
        <h4 id = AnzKund80>Anzahl Kunden (61-80 Jahren):</h4>
    </div>
    <div>    
        <h4 id = AnzKund99>Anzahl Kunden (81+ Jahren):</h4>
    </div>
</div>

<hr class="linebottom">

<div class = "statistik">
    <div>
        <h4 class = "Zwischentitel">Auftrags-Statistik</h4>
    </div>
</div>

<div class = "statistik">
    <div>
        <h4 id = anzAuftrag>Anzahl Aufträge: </h4>
    </div>
    <div>
        <h4 id = anzAuftragKund>Anzahl Aufträge pro Kunde:</h4>
    </div>
</div>
<div class = "statistik">
    <div>
        <h4 id = aufaktjahr>Anzahl Aufträge im aktuellen Jahr:</h4>
    </div>
</div>
<div class = "statistik">
    <div>
        <h4> Januar</h4>
        <h4 id = m1></h4>
    </div>
    <div>
        <h4>Februar</h4>
        <h4 id = m2></h4>
    </div>
    <div>
        <h4>März</h4>
        <h4 id = m3></h4>
    </div>
    <div>
        <h4>April</h4>
        <h4 id = m4></h4>
    </div>
    <div>
        <h4>Mai</h4>
        <h4 id = m5></h4>
    </div>
    <div>
        <h4>Juni</h4>
        <h4 id = m6></h4>
    </div>
    <div>
        <h4>Juli</h4>
        <h4 id = m7></h4>
    </div>
    <div>
        <h4>August</h4>
        <h4 id = m8></h4>
    </div>
    <div>
        <h4>Sebtember</h4>
        <h4 id = m9></h4>
    </div>
    <div>
        <h4>Oktober</h4>
        <h4 id = m10></h4>
    </div>
    <div>
        <h4>November</h4>
        <h4 id = m11></h4>
    </div>
    <div>
        <h4>Dezember</h4>
        <h4 id = m12></h4>
    </div>
</div>
<div class = "statistik">
    <div>
        <h4>Anzahl Aufträge im Jahr:</h4>
    </div>
    <div>
        <input class="input" id="jahreingabe" placeholder= Jahr required type="int"/>
    </div>
    <div>
        <h4 id = aufbevorjahr></h4>
    </div>
    <div>
        <button class=" button button-startseite" onclick="LadenAuftrag()">Laden</button>
    </div>
</div>
<div class = "statistik">
    <div>
        <h4>Januar</h4>
        <h4 id = bm1></h4>
    </div>
    <div>
        <h4>Februar</h4>
        <h4 id = bm2></h4>
    </div>
    <div>
        <h4>März</h4>
        <h4 id = bm3></h4>
    </div>
    <div>
        <h4>April</h4>
        <h4 id = bm4></h4>
    </div>
    <div>
        <h4>Mai</h4>
        <h4 id = bm5></h4>
    </div>
    <div>
        <h4>Juni</h4>
        <h4 id = bm6></h4>
    </div>
    <div>
        <h4>Juli</h4>
        <h4 id = bm7></h4>
    </div>
    <div>
        <h4>August</h4>
        <h4 id = bm8></h4>
    </div>
    <div>
        <h4>Sebtember</h4>
        <h4 id = bm9></h4>
    </div>
    <div>
        <h4>Oktober</h4>
        <h4 id = bm10></h4>
    </div>
    <div>
        <h4>November</h4>
        <h4 id = bm11></h4>
    </div>
    <div>
        <h4>Dezember</h4>
        <h4 id = bm12></h4>
    </div>
</div>

<hr class="linebottom">

</body>
<script>

    function Laden(){
        Kunden();
        Auftrag();
    }
    //Kunden Statistik
    function Kunden(){
        doGetRequest(
            '/api/kundes/all',
            undefined,
            (data) => {   // func
                anzKundenZeig(data);
                Altersdurschschnitt(data);
            }); 
    }
    function anzKundenZeig(data){
        debugger;
        document.getElementById("AnzKund").innerHTML = "Anzahl Kunden: " + data.length + " Kunden";
        let kund20 = 0;
        let kund40 = 0;
        let kund60 = 0;
        let kund80 = 0;
        let kund99 = 0;
        let jahr = new Date().getFullYear();
        let monat = (new Date().getMonth()) + 1;
        let tag = new Date().getDate();
        for (let i = 0; i < data.length; i++) {
            geb = data[i].geburtsdatum;
            gebjahr = JSON.stringify(geb);
            gebjahr = gebjahr.substring(1, 5);
            gebjahr = parseInt(gebjahr)
            gebmonat = JSON.stringify(geb)
            gebmonat = geb.substring(6, 8);
            gebmonat = parseInt(gebmonat);
            gebtag = JSON.stringify(geb)
            gebtag = gebtag.substring(9, 11);
            gebtag = parseInt(gebtag);
            if(monat <= gebmonat && tag <= gebtag ){
                jahr = jahr - 1;
            };
            alt = jahr - gebjahr;
            if (alt < 21){
                kund20 = kund20 + 1;
            }else if (alt < 41 && alt > 20){
                kund40 = kund40 + 1;
            }else if (alt < 61 && alt > 40){
                kund60 = kund60 + 1;
            }else if (alt < 81 && alt > 60){
                kund80 = kund80 + 1;
            }else if (alt > 80){
                kund99 = kund99 + 1;
            }
        }
        document.getElementById("AnzKund20").innerHTML = "Anzahl Kunden (0-20 Jahren): " + kund20 + " Kunden";
        document.getElementById("AnzKund40").innerHTML = "Anzahl Kunden (21-40 Jahren): " + kund40 + " Kunden";
        document.getElementById("AnzKund60").innerHTML = "Anzahl Kunden (41-60 Jahren): " + kund60 + " Kunden";
        document.getElementById("AnzKund80").innerHTML = "Anzahl Kunden (61-80 Jahren): " + kund80 + " Kunden";
        document.getElementById("AnzKund99").innerHTML = "Anzahl Kunden (80+ Jahren): " + kund99 + " Kunden";
    }
    function Altersdurschschnitt(data){
        let jahr = new Date().getFullYear();
        let monat = (new Date().getMonth()) + 1;
        let tag = new Date().getDate();
        let alter = 0;
        for (let i = 0; i < data.length; i++) {
            geb = data[i].geburtsdatum;
            gebjahr = JSON.stringify(geb);
            gebjahr = gebjahr.substring(1, 5);
            gebjahr = parseInt(gebjahr)
            gebmonat = JSON.stringify(geb)
            gebmonat = gebmonat.substring(6, 8);
            gebmonat = parseInt(gebmonat);
            gebtag = JSON.stringify(geb)
            gebtag = gebtag.substring(9, 11);
            gebtag = parseInt(gebtag);
            if(monat <= gebmonat && tag <= gebtag ){
                jahr = jahr - 1;
            };
            alt = jahr - gebjahr;
            alter = alter + alt;
        };
        document.getElementById("Alter").innerHTML = "Durchschnittsalter: "+ (alter/data.length) + " Jahre";
    }
    //Auftrag Statistik
    function LadenAuftrag(){
        doGetRequest(
            '/api/auftrags',
            undefined,
            (data) => {   // func
                bevJahrAuf(data);
            }); 
    }
    function Auftrag(){
        doGetRequest(
            '/api/auftrags',
            undefined,
            (data) => {   // func
                anzAuftragZeig(data);
                AufKun(data);
                AufJahrakt(data);
                bevJahrAuf(data);
            }); 
    }
    function anzAuftragZeig(data){
        debugger;
        document.getElementById("anzAuftrag").innerHTML = "Anzahl Aufträge: " + data.length +" Aufträge";
    }
    function AufKun(data){
        let Auftrag = data.length;
        doGetRequest(
            '/api/kundes/all',
            undefined,
            (data) => {   // func
                AufKunZeig(Auftrag,data);
            }); 
    }
    function AufKunZeig(Auftrag,data){
        document.getElementById("anzAuftragKund").innerHTML = "Anzahl Aufträge pro Kunde: " + (Auftrag/data.length) +" Aufträge";
    }
    function AufJahrakt(data){
        let jahr = new Date().getFullYear();
        let Auftragjahr = 0;
        let auf1 = 0;
        let auf2 = 0;
        let auf3 = 0;
        let auf4 = 0;
        let auf5 = 0;
        let auf6 = 0;
        let auf7 = 0;
        let auf8 = 0;
        let auf9 = 0;
        let auf10 = 0;
        let auf11 = 0;
        let auf12 = 0;
        for (let i = 0; i < data.length; i++) {
            geb = data[i].datum;
            aufjahr = JSON.stringify(geb);
            aufjahr = aufjahr.substring(1, 5);
            aufjahr = parseInt(aufjahr)
            aufmonat = JSON.stringify(geb)
            aufmonat = aufmonat.substring(6, 8);
            aufmonat = parseInt(aufmonat);
            if (aufjahr == jahr){
                Auftragjahr = Auftragjahr + 1;
                if (aufmonat = 1){
                    auf1 = auf1 + 1;
                }else if (aufmonat == 2){
                    auf2 = auf2 + 1;
                }else if (aufmonat == 3){
                    auf3 = auf3 + 1;
                }else if (aufmonat == 4){
                    auf4 = auf4 + 1;
                }else if (aufmonat == 5){
                    auf5 = auf5 + 1;
                }else if (aufmonat == 6){
                    auf6 = auf6 + 1;
                }else if (aufmonat == 7){
                    auf7 = auf7 + 1;
                }else if (aufmonat == 8){
                    auf8 = auf8 + 1;
                }else if (aufmonat == 9){
                    auf9 = auf9 + 1;
                }else if (aufmonat == 10){
                    auf10 = auf10 + 1;
                }else if (aufmonat == 11){
                    auf11 = auf11 + 1;
                }else if (aufmonat == 12){
                    auf12 = auf12 + 1;
                }
            }
        };
        document.getElementById("aufaktjahr").innerHTML = "Aufträge im aktuellen Jahr: " + Auftragjahr + " Aufträge";
        document.getElementById("m1").innerHTML = auf1 + " Aufträge";
        document.getElementById("m2").innerHTML = auf2 + " Aufträge";
        document.getElementById("m3").innerHTML = auf3 + " Aufträge";
        document.getElementById("m4").innerHTML = auf4 + " Aufträge";
        document.getElementById("m5").innerHTML = auf5 + " Aufträge";
        document.getElementById("m6").innerHTML = auf6 + " Aufträge";
        document.getElementById("m7").innerHTML = auf7 + " Aufträge";
        document.getElementById("m8").innerHTML = auf8 + " Aufträge";
        document.getElementById("m9").innerHTML = auf9 + " Aufträge";
        document.getElementById("m10").innerHTML = auf10 + " Aufträge";
        document.getElementById("m11").innerHTML = auf11 + " Aufträge";
        document.getElementById("m12").innerHTML = auf12 + " Aufträge";
    }
    function bevJahrAuf(data){
    if (document.getElementById('jahreingabe').value !== 0 && document.getElementById('jahreingabe').value > 1000 && document.getElementById('jahreingabe').value < 9999){
    let jahr = document.getElementById('jahreingabe').value;
        let Auftragjahr = 0;
        let auf1 = 0;
        let auf2 = 0;
        let auf3 = 0;
        let auf4 = 0;
        let auf5 = 0;
        let auf6 = 0;
        let auf7 = 0;
        let auf8 = 0;
        let auf9 = 0;
        let auf10 = 0;
        let auf11 = 0;
        let auf12 = 0;
        for (let i = 0; i < data.length; i++) {
            geb = data[i].datum;
            aufjahr = JSON.stringify(geb);
            aufjahr = aufjahr.substring(1, 5);
            aufjahr = parseInt(aufjahr)
            aufmonat = JSON.stringify(geb)
            aufmonat = aufmonat.substring(6, 8);
            aufmonat = parseInt(aufmonat);
            if (aufjahr == jahr){
                Auftragjahr = Auftragjahr + 1;
                if (aufmonat = 1){
                    auf1 = auf1 + 1;
                }else if (aufmonat == 2){
                    auf2 = auf2 + 1;
                }else if (aufmonat == 3){
                    auf3 = auf3 + 1;
                }else if (aufmonat == 4){
                    auf4 = auf4 + 1;
                }else if (aufmonat == 5){
                    auf5 = auf5 + 1;
                }else if (aufmonat == 6){
                    auf6 = auf6 + 1;
                }else if (aufmonat == 7){
                    auf7 = auf7 + 1;
                }else if (aufmonat == 8){
                    auf8 = auf8 + 1;
                }else if (aufmonat == 9){
                    auf9 = auf9 + 1;
                }else if (aufmonat == 10){
                    auf10 = auf10 + 1;
                }else if (aufmonat == 11){
                    auf11 = auf11 + 1;
                }else if (aufmonat == 12){
                    auf12 = auf12 + 1;
                }
            }
        };
        document.getElementById("aufbevorjahr").innerHTML = Auftragjahr + " Aufträge";
        document.getElementById("bm1").innerHTML = auf1 + " Aufträge";
        document.getElementById("bm2").innerHTML = auf2 + " Aufträge";
        document.getElementById("bm3").innerHTML = auf3 + " Aufträge";
        document.getElementById("bm4").innerHTML = auf4 + " Aufträge";
        document.getElementById("bm5").innerHTML = auf5 + " Aufträge";
        document.getElementById("bm6").innerHTML = auf6 + " Aufträge";
        document.getElementById("bm7").innerHTML = auf7 + " Aufträge";
        document.getElementById("bm8").innerHTML = auf8 + " Aufträge";
        document.getElementById("bm9").innerHTML = auf9 + " Aufträge";
        document.getElementById("bm10").innerHTML = auf10 + " Aufträge";
        document.getElementById("bm11").innerHTML = auf11 + " Aufträge";
        document.getElementById("bm12").innerHTML = auf12 + " Aufträge";
    }
}
</script>

</html>