<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/statistik-style.css}"/>
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
</head>

<body>
<div class="title-bar">
    <h1 class="heading">Statistik</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="header-button">
    <button class=" button button-startseite" onclick="openLink('/organisation')">Zurück</button>
    <button class=" button button-startseite" onclick="openLink('/')">Startseite</button>
    <button class=" button button-startseite" onclick="Laden()">Laden</button>
    <hr class="linetop">
</div>

<div class = "statistik">
    <div>
        <h4 class = "Zwischentitel">Kunden-Statistik</h4>
    </div>
</div>

<div class = "statistik">
    <div>
        <h4>Anzahl Kunden:</h4>
        <h4 id = AnzKund></h4>
    </div>
    <div>
        <h4>Durchschnittsalter:</h4>
        <h4 id = Alter></h4>
    </div>
</div> 
<div class="table-container" id="alterTable"></div>
<!-- <div class = "statistik">
    <div>
        <h4>Anzahl Kunden (0-20 Jahren):</h4>
        <h4 id = AnzKund20></h4>
    </div>
    <div>
        <h4>Anzahl Kunden (21-40 Jahren):</h4>
        <h4 id = AnzKund40></h4>
    </div>
    <div>
        <h4>Anzahl Kunden (41-60 Jahren):</h4>
        <h4 id = AnzKund60></h4>
    </div>
    <div>
        <h4>Anzahl Kunden (61-80 Jahren):</h4>
        <h4 id = AnzKund80></h4>
    </div>
    <div>    
        <h4>Anzahl Kunden (81+ Jahren):</h4>
        <h4 id = AnzKund99></h4>
    </div>
</div> -->

<hr class="linebottom">

<div class = "statistik">
    <div>
        <h4 class = "Zwischentitel">Auftrags-Statistik</h4>
    </div>
</div>

<div class = "statistik">
    <div>
        <h4>Anzahl Aufträge: </h4>
        <h4 id = anzAuftrag></h4>
    </div>
    <div>
        <h4>Anzahl Aufträge pro Kunde:</h4>
        <h4 id = anzAuftragKund></h4>
    </div>
</div>
<div class = "statistik">
    <div>
        <h4>Anzahl Aufträge im aktuellen Jahr:</h4>
       <h4 id = aufaktjahr></h4>
    </div>
    <div class="table-container" id="customerTable"></div>
</div>

<!-- <div class = "statistik">
    <div>
        <h4> Januar</h4>
        <h4 id = m1></h4>
    </div>
    <div>
        <h4>Februar</h4>
        <h4 id = m2></h4>
    </div>
    <div>
        <h4>März</h4>
        <h4 id = m3></h4>
    </div>
    <div>
        <h4>April</h4>
        <h4 id = m4></h4>
    </div>
    <div>
        <h4>Mai</h4>
        <h4 id = m5></h4>
    </div>
    <div>
        <h4>Juni</h4>
        <h4 id = m6></h4>
    </div>
    <div>
        <h4>Juli</h4>
        <h4 id = m7></h4>
    </div>
    <div>
        <h4>August</h4>
        <h4 id = m8></h4>
    </div>
    <div>
        <h4>Sebtember</h4>
        <h4 id = m9></h4>
    </div>
    <div>
        <h4>Oktober</h4>
        <h4 id = m10></h4>
    </div>
    <div>
        <h4>November</h4>
        <h4 id = m11></h4>
    </div>
    <div>
        <h4>Dezember</h4>
        <h4 id = m12></h4>
    </div>
</div> -->
<div class = "statistik">
    <div>
        <h4>Anzahl Aufträge im Jahr:</h4>
        <h4 id = aufbevorjahr></h4>
    </div>
    <div>
        <input class="input" id="jahreingabe" placeholder= Jahr required type="int"/>
    </div>
    <div class="table-container" id="customerTable2"></div>
    <div>
        <button class=" button button-startseite" onclick="LadenAuftrag()">Laden</button>
    </div>
</div>
<!-- <div class = "statistik">
    <div>
        <h4>Januar</h4>
        <h4 id = bm1></h4>
    </div>
    <div>
        <h4>Februar</h4>
        <h4 id = bm2></h4>
    </div>
    <div>
        <h4>März</h4>
        <h4 id = bm3></h4>
    </div>
    <div>
        <h4>April</h4>
        <h4 id = bm4></h4>
    </div>
    <div>
        <h4>Mai</h4>
        <h4 id = bm5></h4>
    </div>
    <div>
        <h4>Juni</h4>
        <h4 id = bm6></h4>
    </div>
    <div>
        <h4>Juli</h4>
        <h4 id = bm7></h4>
    </div>
    <div>
        <h4>August</h4>
        <h4 id = bm8></h4>
    </div>
    <div>
        <h4>Sebtember</h4>
        <h4 id = bm9></h4>
    </div>
    <div>
        <h4>Oktober</h4>
        <h4 id = bm10></h4>
    </div>
    <div>
        <h4>November</h4>
        <h4 id = bm11></h4>
    </div>
    <div>
        <h4>Dezember</h4>
        <h4 id = bm12></h4>
    </div>
</div> -->
<div id="chart">
	
</div>

<hr class="linebottom">

</body>
<script>
    function Table2(Monate){
        debugger;
        let data = [];
        
        let jsonObject = {
            'Januar': Monate[0].value,
            'Februar': Monate[1].value,
            'März': Monate[2].value,
            'April': Monate[3].value,
            'Mai': Monate[4].value,
            'Juni': Monate[5].value,
            'Juli': Monate[6].value,
            'August': Monate[7].value,
            'Sebtember': Monate[8].value,
            'Oktober': Monate[9].value,
            'November': Monate[10].value,
            'Dezember': Monate[11].value
        }
        data.push(jsonObject);
        let tableContainer = 'customerTable2';
        createTable(data, tableContainer, 'statistik');
    }
    function Table(Monate){
        debugger;
        let data = [];
        
        let jsonObject = {
            'Januar': Monate[0].value,
            'Februar': Monate[1].value,
            'März': Monate[2].value,
            'April': Monate[3].value,
            'Mai': Monate[4].value,
            'Juni': Monate[5].value,
            'Juli': Monate[6].value,
            'August': Monate[7].value,
            'Sebtember': Monate[8].value,
            'Oktober': Monate[9].value,
            'November': Monate[10].value,
            'Dezember': Monate[11].value
        }
        data.push(jsonObject);
        let tableContainer = 'customerTable';
        createTable(data, tableContainer, 'statistik');
    }

    function Laden(){
        Kunden();
        Auftrag();
    }
    //Kunden Statistik
    function Kunden(){
        
        doGetRequest(
            '/api/kundes/all',
            '',
            (data) => {   // func
                anzKundenZeig(data);
                Altersdurschschnitt(data);
            }); 
    }
    // function createTable(data){
    //     alert(data);
    // }
    function anzKundenZeig(data){

        document.getElementById("AnzKund").innerHTML =data.length + " Kunden";
        let kund20 = 0;
        let kund40 = 0;
        let kund60 = 0;
        let kund80 = 0;
        let kund99 = 0;
        let jahr = new Date().getFullYear();
        let monat = (new Date().getMonth()) + 1;
        let tag = new Date().getDate();
        for (let i = 0; i < data.length; i++) {
            geb = data[i].geburtsdatum;
            gebjahr = JSON.stringify(geb);
            gebjahr = gebjahr.substring(1, 5);
            gebjahr = parseInt(gebjahr)
            gebmonat = JSON.stringify(geb)
            gebmonat = geb.substring(6, 8);
            gebmonat = parseInt(gebmonat);
            gebtag = JSON.stringify(geb)
            gebtag = gebtag.substring(9, 11);
            gebtag = parseInt(gebtag);
            if(monat <= gebmonat && tag <= gebtag ){
                jahr = jahr - 1;
            };
            alt = jahr - gebjahr;
            if (alt < 21){
                kund20 = kund20 + 1;
            }else if (alt < 41 && alt > 20){
                kund40 = kund40 + 1;
            }else if (alt < 61 && alt > 40){
                kund60 = kund60 + 1;
            }else if (alt < 81 && alt > 60){
                kund80 = kund80 + 1;
            }else if (alt > 80){
                kund99 = kund99 + 1;
            }
        }
        let data5 = []
        let jsonObject = {
            '0-20': kund20,
            '21-40': kund40,
            '41-60': kund60,
            '61-80': kund80,
            '81+': kund99
        }
        data5.push(jsonObject);
        createTable(data5, 'alterTable', 'statistik');
        // document.getElementById("AnzKund20").innerHTML = kund20 + " Kunden";
        // document.getElementById("AnzKund40").innerHTML = kund40 + " Kunden";
        // document.getElementById("AnzKund60").innerHTML = kund60 + " Kunden";
        // document.getElementById("AnzKund80").innerHTML = kund80 + " Kunden";
        // document.getElementById("AnzKund99").innerHTML = kund99 + " Kunden";
    }
    function Altersdurschschnitt(data){
        let jahr = new Date().getFullYear();
        let monat = (new Date().getMonth()) + 1;
        let tag = new Date().getDate();
        let alter = 0;
        for (let i = 0; i < data.length; i++) {
            geb = data[i].geburtsdatum;
            gebjahr = JSON.stringify(geb);
            gebjahr = gebjahr.substring(1, 5);
            gebjahr = parseInt(gebjahr)
            gebmonat = JSON.stringify(geb)
            gebmonat = gebmonat.substring(6, 8);
            gebmonat = parseInt(gebmonat);
            gebtag = JSON.stringify(geb)
            gebtag = gebtag.substring(9, 11);
            gebtag = parseInt(gebtag);
            if(monat <= gebmonat && tag <= gebtag ){
                jahr = jahr - 1;
            };
            alt = jahr - gebjahr;
            alter = alter + alt;
        };
        document.getElementById("Alter").innerHTML = (alter/data.length) + " Jahre";
    }
    //Auftrag Statistik
    function LadenAuftrag(){
        doGetRequest(
            '/api/auftrags',
            '',
            (data) => {   // func
                bevJahrAuf(data);
            }); 
    }
    function Auftrag(){
        doGetRequest(
            '/api/auftrags',
            '',
            (data) => {   // func
                anzAuftragZeig(data);
                AufKun(data);
                AufJahrakt(data);
                bevJahrAuf(data);
            }); 
    }
    function anzAuftragZeig(data){
        document.getElementById("anzAuftrag").innerHTML = data.length +" Aufträge";
    }
    function AufKun(data){
        let Auftrag = data.length;
        doGetRequest(
            '/api/kundes/all',
            '',
            (data) => {   // func
                AufKunZeig(Auftrag,data);
            }); 
    }
    function AufKunZeig(Auftrag,data){
        document.getElementById("anzAuftragKund").innerHTML = (Auftrag/data.length) +" Aufträge";
    }
    function AufJahrakt(data){
        let jahr = new Date().getFullYear();
        let Auftragjahr = 0;
        let auf1 = 0;
        let auf2 = 0;
        let auf3 = 0;
        let auf4 = 0;
        let auf5 = 0;
        let auf6 = 0;
        let auf7 = 0;
        let auf8 = 0;
        let auf9 = 0;
        let auf10 = 0;
        let auf11 = 0;
        let auf12 = 0;
        for (let i = 0; i < data.length; i++) {
            geb = data[i].datum;
            aufjahr = JSON.stringify(geb);
            aufjahr = aufjahr.substring(1, 5);
            aufjahr = parseInt(aufjahr)
            aufmonat = JSON.stringify(geb)
            aufmonat = aufmonat.substring(6, 8);
            aufmonat = parseInt(aufmonat);
            if (aufjahr == jahr){
                Auftragjahr = Auftragjahr + 1;
                if (aufmonat = 1){
                    auf1 = auf1 + 1;
                }else if (aufmonat == 2){
                    auf2 = auf2 + 1;
                }else if (aufmonat == 3){
                    auf3 = auf3 + 1;
                }else if (aufmonat == 4){
                    auf4 = auf4 + 1;
                }else if (aufmonat == 5){
                    auf5 = auf5 + 1;
                }else if (aufmonat == 6){
                    auf6 = auf6 + 1;
                }else if (aufmonat == 7){
                    auf7 = auf7 + 1;
                }else if (aufmonat == 8){
                    auf8 = auf8 + 1;
                }else if (aufmonat == 9){
                    auf9 = auf9 + 1;
                }else if (aufmonat == 10){
                    auf10 = auf10 + 1;
                }else if (aufmonat == 11){
                    auf11 = auf11 + 1;
                }else if (aufmonat == 12){
                    auf12 = auf12 + 1;
                }
            }
        };
        let data5 = [];
        data5.push(auf1);
        data5.push(auf2);
        data5.push(auf3);
        data5.push(auf4);
        data5.push(auf5);
        data5.push(auf6);
        data5.push(auf7);
        data5.push(auf8);
        data5.push(auf9);
        data5.push(auf10);
        data5.push(auf11);
        data5.push(auf12);
        Table(data5);
        // document.getElementById("aufaktjahr").innerHTML = Auftragjahr + " Aufträge";
        // document.getElementById("m1").innerHTML = auf1 + " Aufträge";
        // document.getElementById("m2").innerHTML = auf2 + " Aufträge";
        // document.getElementById("m3").innerHTML = auf3 + " Aufträge";
        // document.getElementById("m4").innerHTML = auf4 + " Aufträge";
        // document.getElementById("m5").innerHTML = auf5 + " Aufträge";
        // document.getElementById("m6").innerHTML = auf6 + " Aufträge";
        // document.getElementById("m7").innerHTML = auf7 + " Aufträge";
        // document.getElementById("m8").innerHTML = auf8 + " Aufträge";
        // document.getElementById("m9").innerHTML = auf9 + " Aufträge";
        // document.getElementById("m10").innerHTML = auf10 + " Aufträge";
        // document.getElementById("m11").innerHTML = auf11 + " Aufträge";
        // document.getElementById("m12").innerHTML = auf12 + " Aufträge";
    }
    function bevJahrAuf(data){
    if (document.getElementById('jahreingabe').value !== 0 && document.getElementById('jahreingabe').value > 1000 && document.getElementById('jahreingabe').value < 9999){
    let jahr = document.getElementById('jahreingabe').value;
        let Auftragjahr = 0;
        let auf1 = 0;
        let auf2 = 0;
        let auf3 = 0;
        let auf4 = 0;
        let auf5 = 0;
        let auf6 = 0;
        let auf7 = 0;
        let auf8 = 0;
        let auf9 = 0;
        let auf10 = 0;
        let auf11 = 0;
        let auf12 = 0;
        for (let i = 0; i < data.length; i++) {
            geb = data[i].datum;
            aufjahr = JSON.stringify(geb);
            aufjahr = aufjahr.substring(1, 5);
            aufjahr = parseInt(aufjahr)
            aufmonat = JSON.stringify(geb)
            aufmonat = aufmonat.substring(6, 8);
            aufmonat = parseInt(aufmonat);
            if (aufjahr == jahr){
                Auftragjahr = Auftragjahr + 1;
                if (aufmonat = 1){
                    auf1 = auf1 + 1;
                }else if (aufmonat == 2){
                    auf2 = auf2 + 1;
                }else if (aufmonat == 3){
                    auf3 = auf3 + 1;
                }else if (aufmonat == 4){
                    auf4 = auf4 + 1;
                }else if (aufmonat == 5){
                    auf5 = auf5 + 1;
                }else if (aufmonat == 6){
                    auf6 = auf6 + 1;
                }else if (aufmonat == 7){
                    auf7 = auf7 + 1;
                }else if (aufmonat == 8){
                    auf8 = auf8 + 1;
                }else if (aufmonat == 9){
                    auf9 = auf9 + 1;
                }else if (aufmonat == 10){
                    auf10 = auf10 + 1;
                }else if (aufmonat == 11){
                    auf11 = auf11 + 1;
                }else if (aufmonat == 12){
                    auf12 = auf12 + 1;
                }
            }
        };
        let data5 = [];
        data5.push(auf1);
        data5.push(auf2);
        data5.push(auf3);
        data5.push(auf4);
        data5.push(auf5);
        data5.push(auf6);
        data5.push(auf7);
        data5.push(auf8);
        data5.push(auf9);
        data5.push(auf10);
        data5.push(auf11);
        data5.push(auf12);
        Table2(data5);
        // document.getElementById("aufbevorjahr").innerHTML = Auftragjahr + " Aufträge";
        // document.getElementById("bm1").innerHTML = auf1 + " Aufträge";
        // document.getElementById("bm2").innerHTML = auf2 + " Aufträge";
        // document.getElementById("bm3").innerHTML = auf3 + " Aufträge";
        // document.getElementById("bm4").innerHTML = auf4 + " Aufträge";
        // document.getElementById("bm5").innerHTML = auf5 + " Aufträge";
        // document.getElementById("bm6").innerHTML = auf6 + " Aufträge";
        // document.getElementById("bm7").innerHTML = auf7 + " Aufträge";
        // document.getElementById("bm8").innerHTML = auf8 + " Aufträge";
        // document.getElementById("bm9").innerHTML = auf9 + " Aufträge";
        // document.getElementById("bm10").innerHTML = auf10 + " Aufträge";
        // document.getElementById("bm11").innerHTML = auf11 + " Aufträge";
        // document.getElementById("bm12").innerHTML = auf12 + " Aufträge";
    }
}
function createTable(data, containerId, target) {
    // Bereits eine Tabelle vorhanden?
    if (document.getElementById(containerId).firstElementChild !== null) {
        const table = document.getElementsByTagName('TABLE')[0];

        table.remove();
        createTable(data, containerId, target);

        return;
    } else {
        const tableContainer = document.getElementById(containerId);
        const table = document.createElement('TABLE');
        const tableHead = document.createElement('THEAD');
        const tableBody = document.createElement('TBODY');
        const dataCount = data.length;

        table.appendChild(tableHead);
        table.appendChild(tableBody);

        const headerRow = document.createElement('TR');
        const keys = Object.keys(data[0]);

        keys
            .map((item) => {
                const th = document.createElement('TH');
                let caps = item.charAt(0).toUpperCase() + item.slice(1);
                th.innerHTML = caps.valueOf();
                headerRow.appendChild(th);
            });
        // Für jeden Kunden neue Zeile erstellen
        for (let i = 0; i < dataCount; i++) {
            const dataRow = document.createElement('TR');
            const values = Object.values(data[i]);

            values
                .map((item) => {
                    const td = document.createElement('TD');
                    if (item == null){
                    td.innerHTML = "0";
                    }else{    
                    td.innerHTML = item.valueOf();
                    }
                    dataRow.appendChild(td);
                });

            tableHead.appendChild(headerRow);
            tableBody.appendChild(dataRow)
        }

        tableContainer.appendChild(table);
    }

    if (target !== undefined) {
        let allRows = document.getElementsByTagName('TR');

        for (let i = 0; i < allRows.length; i++) {
            allRows[i].addEventListener('click', () => {
                if (target === "neuer-kunde") {
                    window.location.href = `/neuer-kunde?neu=false&kunnr=${data[i-1].kundenNr}&anrede=${data[i-1].anrede}&name=${data[i-1].name}&vorname=${data[i-1].vorname}&geburtsdatum=${data[i-1].geburtsdatum}&plz=${data[i-1].plz}&strasse=${data[i-1].strasse}&hausnr=${data[i-1].hausNr}&mail=${data[i-1].email}&tel=${data[i-1].telefonNr}&handy=${data[i-1].handy}&kknr=${data[i-1].krankenkassenNr}&vsnr=${data[i-1].versicherungsNr}&gueltigkeit=${data[i-1].gueltigkeit}&bemerkung=${data[i-1].bemerkung}`;;
                }
                if (target === "neuer-auftrag") {
                    window.location.href = "/" // Weiterleiten zu neuer-auftrag
                }
            });
        }
    }
}
</script>

</html>