:root {
--somecolor: #007acc;
--background: #f5f5f5;
--primary: #007acc;
--light: #5ca9ff;
--dark: #004f9b;
--button: #e1e1e1;
--buttonHover: #bdbdbd;
}

/*Tabelle*/
* {
	font-family: "Roboto Light", sans-serif;
}

table, th, td {
	border-collapse: collapse;
    border: thin solid black;
}

table {
    position: relative;
    text-align: center;
	font-size: 17px;
	width: 90%;
	margin: 20px;
}

tr:nth-child(even) {
	background-color: var(--button);
}

td {
	text-align: right;
	width: 25%;
	height: 10%;
	padding-right: 5px;
	padding-left: 5px;
}

th {
	border-bottom-width: medium;
	background-color: var(--primary);
	color: white;
	padding: 5px;
}

/*Buttons*/
button {
    margin-left: 5%;
	padding: 0.5% 1%;
}

.tabledd {
    position: relative;
	width: 100%;
	font-size: 17px;
	padding: 5px;
}

.combobox {
    position: relative;
	width: 20%;
	margin-left: 5px;
	font-size: 17px;
	padding: 5px;
}

hr {
border: 2px solid black;
}

/*Text*/
label {
	margin-left: 20px;
	font-size: 17px;
}

div{
	position: relative;
    border-bottom: 2px solid black;
	width: 30%;
	font-size: 17px;
}

.bar {
    margin-left: 20px;
}
.summe {
    position: relative;
	bottom: 25px;
	left: 60%;
}
.rueckgeld {
    position: relative;
	bottom: 25px;
	left: 60%;
}