aside {
    float: right;
}

.header {
    width: 96%;
    text-align: left
    font-size: 25px;
}
.header .button-startseite {
    width: 10em;
    height: 2.5em;
    margin: 0.5%;
}

table {
    width: 90%;
    position: relative;
    text-align: center;
	font-size: 17px;
	margin: 20px;
}

.select {
    width: 175px;
    height: 21px;
    border: none;
    border-radius: 4px;
    margin-left: 0.5%;
}

.select-mitte {
    border: none;
    border-radius: 4px;
    margin-left: 50%;
}

.input {
    height: 21px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 0.5%;

.input-rechts {
    height: 21px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 50%;
}

.input::placeholder {
    font-family: "Roboto Thin", sans-serif;
    font-size: 17px;
}

.button-rechts {
    margin-left: 50%;
}
