:root {
--somecolor: #007acc;
--background: #f5f5f5;
--primary: #007acc;
--light: #5ca9ff;
--dark: #004f9b;
--button: #e1e1e1;
--buttonHover: #bdbdbd;
}

html {
    background-color: var(--background);
}

.vertical-bar {
    width: 4%;
    height: 90%;
    left: 95.45%;
    background-color: var(--primary);
    display: block;
    position: absolute;
}

.vertical-bar p {
    display: block;
}

.title-bar {
    width: 100%;
    background-color: var(--dark);
    overflow: auto;
}

/*Headings*/
.heading {
    position: relative;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
}

.button {
    border-radius: 3px;
    border: 1px solid black;
    font-family: "Roboto Light", sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: var(--button);
    color: black;
}

.button:hover {
    background-color: var(--buttonHover);
}
/*
Farbpalette:
Background: #f5f5f5
Background: #e1e1e1
Primary: #007acc
Light: #5ca9ff
Dark: #004f9b
*/