:root {
--somecolor: #007acc;
}

/*Headings*/
.heading {
    position: relative;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
}

.button {
    border-radius: 3px;
    border: 1px solid black;
    font-family: "Roboto Light", sans-serif;
}
/*
Farbpalette:
Background: #f5f5f5
Background: #e1e1e1
Primary: #007acc
Light: #5ca9ff
Dark: #004f9b
*/