/*Headings*/
.heading {
    position: relative;
    text-align: center;
    font-family: "MV Boli", sans-serif;
}

/*Inputs*/
.input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    margin-top: 5px;
}

.input::placeholder {
    font-family: "MV Boli", sans-serif;
}

/*Buttons*/
.submit-button {
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 5px;
}
