.header {
    width: 96%;
    text-align: left;
    font-size: 25px;
}

.button-startseite, .button-bearbeiten {
    width: 10em;
    height: 2.5em;
    margin: 0.5%;
}

.main {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96%;
    font-size: 1em;
    gap: 5em;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
}

.input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
    display: block;
}

.input-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.input-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.input-insurance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.input-country {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.input-anrede {
    width: 100%;
    text-align: left;
}

.input-radios {
    padding-top: 0.6em;
    height: 1.8em;
}

small {
    display: block;
    color: #e74c3c;
    font-weight: bold;
    font-size: 11px;
    padding-top: 3px;
    visibility: hidden;
}

.submit-button {
    width: 10em;
    height: 2em;
}

.date {
    width: 15em;
    height: 2.5em;
    display: block;
    margin-top: 0.2em;
    padding-left: 0.2em;
    border-radius: 5px;
    border: 1px solid gray;
}

.inputs.success input {
    /*border: 2px solid #2ecc71;*/
}
.inputs.error input {
    border: 2px solid #e74c3c;
}
.inputs.error small {
    visibility: visible;
}

