/*Headings*/
.heading {
    position: relative;
    text-align: center;
    font-family: "MV Boli", sans-serif;
}

/*Inputs*/
.search-fields {
    position: relative;
    text-align: center;
}

.input {
    height: 0.7cm;
    width: 5cm;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    margin-top: 5px;
}

.input::placeholder {
    font-family: "MV Boli", sans-serif;
}

/*Buttons*/
.direction-buttons {
    position: absolute;
    left: 0.2cm;
    bottom: 1.5cm;
}

.direction-button {
    height: 1cm;
    width: 5cm;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 0.5cm;
    margin-right: 0.1cm;
}

.submit-button {
    height: 1cm;
    width: 5cm;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 0.5cm;
}

.customer-button {
    height: 1cm;
    width: 5cm;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 0.3cm;
    text-decoration: none;
    color: #FF0000;
}

.customer {
    text-decoration: none;
    color: black;
}