<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/startseite-style.css}"/>
</head>
<body>

<h1 class="heading">MyOptiks</h1>

<div class="customers">
    <button class="customer-button"><a th:href="@{/brillen-kunde}" class="customer">Brillen-Kunde</a></button>
    <br>
    <button class="customer-button"><a th:href="@{/cl-kunde}" class="customer">CL-Kunde</a></button>
    <br>
    <button class="customer-button"><a th:href="@{/vs-kunde}" class="customer">VS-Kunde</a></button>
    <br>
</div>

</body>
</html>