<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/kunde-style.css}"/>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">MaiOptics</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="customers">
    <button class="button customer-button" onclick="openLink('/kunde')"><span class="material-symbols-outlined">person</span>Kunde</button>
    <br>
    <button class="button customer-button" onclick="openLink('/auftrag')"><span class="material-symbols-outlined">article</span>Auftrag</button>
    <br>
</div>

<div class="direction-buttons">
    <button class="button direction-button" onclick="openLink('/neuer-kunde')"><span class="material-symbols-outlined">add</span>Neuer Kunde</button>
    <button class="button direction-button" onclick="openLink('/auftragsdatenverwaltung?v=a')"><span class="material-symbols-outlined">add</span>Neuer Auftrag</button>
    <button class="button direction-button" onclick="openLink('/organisation')"><span class="material-symbols-outlined">settings</span>Organisation</button>
    <button class="button direction-button" onclick="openLink('/führerscheinsehtest')"><span class="material-symbols-outlined">clinical_notes</span>Führerschein-Sehtest</button>
    <button class="button direction-button" onclick="openLink('/mitarbeiter')"><span class="material-symbols-outlined">groups</span>Mitarbeiter</button>
</div>

</body>
<script>
    function openLink(link) {
        window.location.href = link;
    }
</script>
</html>