<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/abrechnung-style.css}"/>
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Abrechnung</h1>
</div>
<div class="vertical-bar">
    <p></p>
</div>

<div class="table-container"></div>

<hr>
<br><br>
<div class="bar">Bareinzahlung</div>
<div class="summe">Summe</div>
<label for="mitarbeiter">Verkäufer:</label>
<select name="mitarbeiter" id="mitarbeiter" class="combobox">
    <option> </option>
    <option> </option>
</select>
<div class="rueckgeld">Rückgeld</div>
<br>
<br>
<button type="button" class="button" onclick="openLink('/organisation')">Zurück</button>
<button type="button" class="button">Kassenbuch</button>
<button type="button" class="button">Storno/Kassenbuch</button>
<button type="button" class="button">Bank-Gebucht</button>
<button type="button" class="button">EC-Bezahlt</button>
<button type="button" class="button">Bar-Bezahlt</button>
</body>
<script>
    createTable();
    function createTable() {
        if (document.getElementsByClassName('table-container')[0].firstElementChild !== null) {
            return false;
        } else {
        let tableContainer = document.getElementsByClassName('table-container')[0];
        let table = document.createElement('TABLE');
        let tableHead = document.createElement('THEAD');
        let tableBody = document.createElement('TBODY');
        const headings = [
            'Auftragsnummer',
            'Artikelnummer',
            'Beschreibung',
            'Betrag',
        ];

        table.appendChild(tableHead);
        table.appendChild(tableBody);

        // Table Head
        let row1 = document.createElement('TR');

        headings
        .map((item) => {
            let th = document.createElement('TH');
            th.innerHTML = item.valueOf();
            row1.appendChild(th);
            });

            tableHead.appendChild(row1);
            let t = 1;
            while(t <= 7) {
                // Table Data
                let row2 = document.createElement('TR');

                for (let i = 1; i <= headings.length; i++) {
                    let data = document.createElement('TD');
                    if (i == 1) {
                        if (t % 2 == 0) {
                        data.innerHTML = "<input type='text' name='" + "aufn".concat(t) + "' class='textbox' style='background-color:#e1e1e1'>";}
                        else {
                        data.innerHTML = "<input type='text' name='" + "aufn".concat(t) + "' class='textbox' style='background-color:#f5f5f5'>";}
                     }
                    else if (i == 2) {
                        if (t % 2 == 0) {
                        data.innerHTML = "<input type='text' name='" + "aufn".concat(t) + "' class='textbox' style='background-color:#e1e1e1'>";}
                        else {
                        data.innerHTML = "<input type='text' name='" + "aufn".concat(t) + "' class='textbox' style='background-color:#f5f5f5'>";}
                    }
                    else if (i == 3) {
                    data.innerHTML = ' ';
                    }
                    else if (i == 4) {
                        if (t % 2 == 0) {
                        data.innerHTML = "<input type='text' name='" + "aufn".concat(t) + "' class='textbox' style='background-color:#e1e1e1'>";}
                        else {
                        data.innerHTML = "<input type='text' name='" + "aufn".concat(t) + "' class='textbox' style='background-color:#f5f5f5'>";}
                    }
                    row2.appendChild(data);
                }
            t++;
            tableBody.appendChild(row2);
        }
        tableContainer.appendChild(table);
      }
    }
</script>
</html>